// for overriding colors
$mainColor = #43a069
$accentColor = $mainColor
$sidebarActiveColor = #e8fbf0

@media (max-width: $MQMobile)
  code
    font-size: 14px !important
  .table-of-contents
    li
      padding-top: 5px
  .navbar
    .links
      display: none !important
